{{! 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 }}
<h3>You have been logged out</h3>
<a href="/">Click here to log-in</a>